@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Beem vindo</h1>
    <p>Siga o senhorN <a href="https://github.com/senhorN">senhorN</a>.</p>
</div>
